<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userpage.css') }}">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{ url_for('search') }}">Order Medicine</a></li>
                <li><a href="appoint.html">Book Appointment</a></li>
                <li><a href="emergency.html">Emergency Contact</a></li>
                <li style="margin-top: 5px;">
                    <select id="specialization-select">
                        <option value="">All Specializations</option>
                        <option value="Cardiologist">Cardiologist</option>
                        <option value="Dermatologist">Dermatologist</option>
                        <option value="Endocrinologist">Endocrinologist</option>
                        <option value="Gastroenterologist">Gastroenterologist</option>
                        <option value="Neurologist">Neurologist</option>
                        <option value="Oncologist">Oncologist</option>
                        <option value="Pediatrician">Pediatrician</option>
                        <option value="Psychiatrist">Psychiatrist</option>
                        <option value="Radiologist">Radiologist</option>
                        <option value="Surgeon">Surgeon</option>
                        <option value="Urologist">Urologist</option>
                    </select>
                </li>
                <li><a href="{{ url_for('user_appointments') }}">Appointments</a></li>
                <li>
            </ul>
        </nav>

        <h1>Book Your Appointment</h1>

        <!-- Doctors grid container -->
        <div class="doctors-container">
            {% for doctor in doctors %}
            <div class="card shadow-sm">
                <img src="{{ url_for('static', filename='image/med.png') }}" class="card-img-top" alt="Doctor" />
                <div class="card-body">
                    <h5 class="card-title">{{ doctor[1] }}</h5>
                    <p class="card-text">Experience: {{ doctor[3] }}</p>
                    <p class="card-text">Specialization: {{ doctor[2] }}</p>
                    <button><a href="{{ url_for('view_profile', doctor_id=doctor[0]) }}" style="background-color: #007bff;">View Profile</a></button>
                    <button><a href="{{ url_for('book_appointment', doctor_id=doctor[0]) }}" style="background-color: #007bff;">Book An Appointment</a></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
